<img src="https://github.com/christopherhuntley/BUAN6510/blob/master/img/Dolan.png?raw=true" width="180px" align="right">

# **DATA 6510**
# **Homework 3: Deals Database**
_Fun with Mergers and Acquisitions._

## **Learning Objectives**
### **Theory / Be able to explain ...**
- How `WHERE` clauses and `JOIN` expressions can be used to extract data from multiple tables
- How to aggregate results into groups of records (with group-wise stats, etc.)

### **Skills / Know how to ...**
- Explore a novel database without documentation
- Use aggregation for descriptive analytics
- Use table joins to draw data from multiple tables
- Use subqueries to assemble a report query from disparate data sources
- Debug queries based on i) errors reported by the interpreter and ii) your understanding of the source data

---
## **Boilerplate: Software and DB Connection**

The code below $\downarrow$ will get you started.

In [ ]:
# Load %%sql magic
%load_ext sql
%config SqlMagic.displaylimit = None

# Standard Imports
import sqlite3
import pandas as pd

# Install the Python to MySQL DBI connector
!pip install pymysql

Use `%%sql` magic to connect to the database. You will need to craft the connection string from the details below.

Connection details:
- protocol: `mysql+pymysql`
- username: `dealsuser`
- password: `deals`
- host: `database-1003.c55qjoeogr2p.us-east-2.rds.amazonaws.com`
- database: `deals`

Please use the code cell below $\downarrow$ to connect to the database.

In [ ]:
%sql mysql+pymysql://dealsuser:deals@database-1003.c55qjoeogr2p.us-east-2.rds.amazonaws.com/deals

## **The Deals Database**

The deals database includes information about hundreds of corporate mergers and acquisitions in the late 1990s. In includes not just the financials of each deal, but also *everyone* who played a role in it.

![Deals ERD](https://github.com/christopherhuntley/BUAN6510/raw/master/img/HW3_deals_erd.png)

Data model notes:
- The total value of each deal was least $1 billion.
- A deal could be carried out in parts, with each part being of a different type (stock swap, cash, etc.)
- Each deal involved at least 2 players. A player here is a company that is the subject of the deal. If there are multiple bidders for a company being acquired, then each bidder is a Player.
- Each player is supported by several firms that provide legal, banking, PR, or other services.

**Your task is to complete a series of queries that explore the database and calculate a few statistics. To keep things simple, the queries are specified as numbered questions. Just below each question, insert a new code cell for your SQL code. (An example is shown below. Hover between two cells to get the popup. Select `Code` for a code cell, `Text` for a Markdown cell.)**

![Add new Colab cell](https://github.com/christopherhuntley/BUAN6510/raw/master/img/HW3_new_code_cell.png)

**The code should answer the question directly, without any need for you do to do any manual manipulations or calculations. Each question can be answered with one query.**

---
## **Warmups to Get Familiar with the Data**
Use aliases to give *each column* a meaningful name. We're pros here.

### **1. What are the types of deals?**

In [ ]:
%%sql

### **2. What are the possible roles a player may play in a deal?**

In [ ]:
%%sql

### **3. What kinds of support do the firms provide?**

In [ ]:
%%sql

### **4. How many companies are there?**

In [ ]:
%%sql

### **5. How many deals are there?**

In [ ]:
%%sql

### **6. What kinds of firms are represented in the database?**

In [ ]:
%%sql

### **7. How many investment banks are listed in the database?**

In [ ]:
%%sql

### **8. How many law firms are there?**

In [ ]:
%%sql

In [ ]:
%%sql

---
## **More advanced queries that demonstrate mastery**

### **9. How many firms are there of each type?**
For each firm type, calculate the total number of firms.

In [ ]:
%%sql

### **10. For each deal, which companies were involved and what was the role of each one?**
Show the deal name, company names, and roles. Limit your answer to 20 rows. (Optional challenge: limit it to 10 *deals*.)

In [ ]:
%%sql

### **11. What is the total value of each deal?**
Show the deal name, the number of parts, and the total value. Limit your answer to the 10 deals.

In [ ]:
%%sql

### **12. What were the ten biggest deals by total dollar value.**
Repeat query 11 but only show the 10 biggest deals.

In [ ]:
%%sql

### **13. Which companies were players in the top 10 deals?**
Show the deal name, total value, company, and role. You will have at least two rows per deal.

In [ ]:
%%sql

### **14. Break down the deals by type.**
For each deal type, provide the type code, number of deals, and total value of deals.

In [ ]:
%%sql

### **15. Which law firms supported the most deals? How much was the total value of the deals for each firm?**
Show the firm name, number of deals, and the total values of the deals. You may need to use a subquery (or two) for this one.

In [ ]:
%%sql

---
## **On your way out ... Be sure to save your work**.
In Google Drive, drag this notebook file into your `DATA6510` folder so you can find it next time.