<img src="https://github.com/christopherhuntley/BUAN6510/blob/master/img/Dolan.png?raw=true" width="180px" align="right">

# **DATA 6510**
# **Homework 3: A Decade of Laundry Tags** 
_Building a Data Warehouse from Source Data._

This assignment is part tutorial and part exercises. The data provided by the real company behind the DeluxCare example in Lesson 1. The company "dry cleans" (launders) expensive shirts, dresses, jackets, suits, etc. It has been around for decades and has about a dozen locations in southeastern Connecticut.

In part 1 you will "ride along" as we will build the data warehouse from scratch using files provided by the company. For those of you that wanted to see how SQL DDL and DML works, this is your chance. &#128578; For everybody else, **do not skip this part;** it illustrates a few things that will almost certainly appear on Quiz 3 or Quiz 4.

In part 2 you will explore the business (and perhaps a bit about upper-class Connecticut residents) by crafting a few analytical queries.

## **Part 1. Build a data warehouse from scratch.**

### Anatomy of a Sale

Before any further it may be helpful to understand the business process of executing a sale:

1. The customer brings in a pile of garments in need of cleaning. This marks the start of a sale. If the customer is new, then the employee collects information about th customer. 
2. The employee sorts the garments by type (shirts, pants, dresses, suits, etc.) and scans each garment's "garment tag" (if there is one) to determine the brand and any special handling instructions. Items with the garment tag are grouped together. 
3. Each group of items from step 2 is given a service code and prepped for cleaning. 
4. The entire order (invoice) is priced according to service types, numbers of items, and special handling instructions. Each group (garment tag) appears as one line item on the invoice. 
5. The garments are cleaned as requested and prepped for pickup. 
6. The customer returns to pick up their clothes and pays their bill. The employee closes out the invoice, marking it as paid. 

Everything else about our data warehouse derive from this basic process description. It forms the _business language_ used to describe our data.

### Source Data 

The data comes to us from two sources:
- [garment_tags.csv](./data/DeluxCare/HW9_garment_tags.csv), a moderately large CSV file with data from ~90000 scanned garment tags; each tag represents a bundle of items of the same customer, sale, type, brand, etc. as they appear in the master sales records kept by company management. 
- [service_types.csv](./data/DeluxCare/HW9_ServiceTypes.csv), a decription of the service codes used to describe how the garments were to be handled; the codes are used by the point of sale system (cash register) to price each line item on the invoice.

### Data Warehouse Design

The ERD below lays out our or data warehouse as a classic "star schema" design, with 
- `GarmentFacts` (fact table) in the middle 
- `Customer`, `Brand`, `Sale`, and `ServiceType` dimensions on the periphery

![HW9 ERD](./img/HW9_GarmentTags_DW.png)

Remarks: 
- `ServiceType` is a _conforming_ dimension that is _applied_ by the point of sale system. The employee selects a service code (type) from a fixed list at the time of sale. In other words, the data collection is forced to "conform" to this pre-defined list of service codes. 
- `Brand` and `Customer` are said to be _slow moving_ dimensions. They are less static than the `ServiceType` but are updated only when needed (e.g., for a new customer or brand). 
- `Sale` is a _fast moving_ dimension, updated with each sale. It will almost as many rows as the `GarmentFacts` table. 
- The _granularity_ (see Lesson 7) of the `GarmentFacts` table is determined by the four dimensions. In other words, no matter how many rows our `GarmentFacts` table has, the maximum number of groups we can create with a `GROUP BY` is  
**(Number of Customers) X (Number of Brands) x (Number of Sales) x (Number of Service Types)**.

### Initializing the Database

In [1]:
# Load %%sql magic
!pip install jupysql
%load_ext sql
%config SqlMagic.displaylimit = None

# Standard Imports
import sqlite3
import pandas as pd

# SQLite database connection
%sql sqlite:///hw3.db

Requirement already satisfied: jupysql in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (0.10.10)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (0.4.3)
Requirement already satisfied: sqlalchemy in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (2.0.30)
Requirement already satisfied: ipython<=8.12.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (8.7.0)
Requirement already satisfied: ploomber-extension in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (0.1.0)
Requirement already satisfied: sqlglot>=11.3.7 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (24.0.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: prettytable in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (3.10.0)
Requirement already satisfied: sqlparse in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (0.5.0)
Requirement already satisfied: ploomber-core>=0.2.7 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (0.2.25)
Requirement already satisfied: jinja2 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.18.2)
Requirement already satisfied: decorator in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (5.1.1)
Requirement already satisfied: pickleshare in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.7.5)
Requirement already satisfied: backcall in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.2.0)
Requirement already satisfied: stack-data in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.6.2)
Requirement already satisfied: pygments>=2.4.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (2.13.0)
Requirement already satisfied: matplotlib-inline in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (3.0.36)
Requirement already satisfied: appnope in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (0.1.3)
Requirement already satisfied: traitlets>=5 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ipython<=8.12.0->jupysql) (5.7.0)
Requirement already satisfied: posthog in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ploomber-core>=0.2.7->jupysql) (3.5.0)
Requirement already satisfied: pyyaml in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from sqlalchemy->jupysql) (4.12.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from jedi>=0.16->ipython<=8.12.0->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pexpect>4.3->ipython<=8.12.0->jupysql) (0.7.0)
Requirement already satisfied: requests<3.0,>=2.7 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.28.1)
Requirement already satisfied: six>=1.5 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: python-dateutil>2.1 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: monotonic>=1.5 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython<=8.12.0->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython<=8.12.0->jupysql) (2.2.1)
Requirement already satisfied: pure-eval in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from stack-data->ipython<=8.12.0->jupysql) (0.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/christopherhuntley/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)

displaylimit: Value None will be treated as 0 (no limit)

Connecting to 'sqlite:///hw3.db'

### Extracting and Loading the Data from the Source Files into the Database

In [2]:
# extract from files
garments_df = pd.read_csv("./data/DeluxCare/HW9_garment_tags.csv",dtype={'Cust_Zip':'str'})
service_types_df = pd.read_csv("./data/DeluxCare/HW9_ServiceTypes.csv")


# connect to database
conn = sqlite3.connect('hw3.db')

garments_df.to_sql("garment_tags_import", conn, if_exists='replace')
service_types_df.to_sql("service_types_import", conn, if_exists='replace')

garments_df.dtypes

Garm_ID           int64
Garm_Count        int64
Garm_Type_id      int64
Garm_Brand       object
Sale_ID           int64
Sale_Date        object
Sale_Amount     float64
Cust_ID           int64
Cust_City        object
Cust_Zip         object
dtype: object

In [3]:
%%sql 
SELECT * FROM garment_tags_import LIMIT 10;

Running query in 'sqlite:///hw3.db'

+-------+---------+------------+--------------+--------------------+---------+------------+-------------+---------+-----------+----------+
| index | Garm_ID | Garm_Count | Garm_Type_id |     Garm_Brand     | Sale_ID | Sale_Date  | Sale_Amount | Cust_ID | Cust_City | Cust_Zip |
+-------+---------+------------+--------------+--------------------+---------+------------+-------------+---------+-----------+----------+
|   0   |    1    |     17     |     501      |        None        |  911198 | 2012-10-06 |     0.0     |   773   |   Easton  |  06612   |
|   1   |    10   |     5      |     501      |    RALPH LAUREN    |  911202 | 2012-10-06 |     0.0     |   773   |   Easton  |  06612   |
|   2   |    20   |     6      |     501      |  CHARLES-TYRWHITT  |  221092 | 2008-08-09 |    10.95    |   9716  |   Darien  |  06820   |
|   3   |    26   |     9      |     501      |        POLO        |  116240 | 2007-05-30 |     10.5    |   9716  |   Darien  |  06820   |
|   4   |    27   |     7      |     501      |  CHARLES-TYRWHITT  |  221094 | 2008-08-09 |     8.76    |   9716  |   Darien  |  06820   |
|   5   |    32   |     24     |     507      | DARIEN SPORTS SHOP |  122885 | 2007-06-19 |     6.9     |   3394  |   Darien  |  06820   |
|   6   |    33   |     4      |     507      |  BROOKS BROTHERS   |  70832  | 2007-01-06 |    10.75    |   3394  |   Darien  |  06820   |
|   7   |    34   |     38     |     507      | DARIEN SPORTS SHOP |  180678 | 2008-01-03 |     6.9     |   3394  |   Darien  |  06820   |
|   8   |    49   |     4      |     501      |     LANDS' END     |  918485 | 2012-10-17 |    12.85    |   4754  |   Darien  |  06820   |
|   9   |    50   |     16     |     501      |        ENRO        |  183831 | 2008-01-12 |     6.3     |   4754  |   Darien  |  06820   |
+-------+---------+------------+--------------+--------------------+---------+------------+-------------+---------+-----------+----------+

In [4]:
%%sql 
SELECT * FROM service_types_import LIMIT 10;

Running query in 'sqlite:///hw3.db'

+-------+--------------+----------------------------+
| index | Service Code |        Description         |
+-------+--------------+----------------------------+
|   0   |      1       |           blouse           |
|   1   |      7       |        tuxedo pants        |
|   2   |      17      |     shirt dry cleaned      |
|   3   |      30      |   suit dry cleaned $500    |
|   4   |      39      |   suit dry cleaned $750    |
|   5   |      50      |   suit dry cleaned $1000   |
|   6   |      60      |  suit dry cleaned $1000+   |
|   7   |     107      |       surgical pants       |
|   8   |     122      | accessory - dry clean only |
|   9   |     501      |      shirt on hanger       |
+-------+--------------+----------------------------+

### Creating New DW Tables with SQL DDL

SQL DDL is fairly easy to read, even without any formal training. A few things to look for: 
- Each table include either `facts` or `dim` in the name to indicate its purpose.
- The `count` column was renamed to `item_count` to avoid a naming conflict with the `COUNT()` function.
- In SQLite, an "autoincrement" surrogate key (called `rowid`) is silently generated for each table _unless_ `WITHOUT ROWID` is specified.
- For data quality auditing (traceability), original source keys are kept whenever possible. 
- SQLite only supports five data types: INTEGER, TEXT, REAL, BLOB, NUMERIC.
- Dates are stored as TEXT because SQLite does not have a Date data type. 
- Foreign keys are defined as both columns (`cust_id`) and constraints (`FOREIGN KEY cust_id REFERENCES ...`)
- Since SQLite does not support `ALTER TABLE` statements, `DROP TABLE IF EXISTS` is used instead to re-create each table from scratch each time the script is run. This would not work if we were to import data incrementally over time, but since we are doing this just once, it's okay. 
- A benefit of using `DROP TABLE IF EXISTS` is that we can run the notebook from top to bottom whenever we want to re-create the database.

In [5]:
%%sql

PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS garment_facts;
CREATE TABLE garment_facts (
    garm_id INTEGER PRIMARY KEY,   -- an alias for the `rowid` surrogate key automatically created by SQLite
    
    -- FK columns 
    cust_id INTEGER not null,      -- fk to customer_dim
    sale_id INTEGER not null,      -- fk to sale_dim
    brand_id INTEGER,              -- fk to brand_dim; null --> no label
    service_code INTEGER NOT NULL, -- fk to service_dim
    
    -- non-FK columns
    item_count INTEGER,            -- number of items in the group
    garm_id_src INTEGER,            -- garment id from original source data (used for auditing)
    
    -- FK constraints
    FOREIGN KEY (cust_id) REFERENCES customer_dim (cust_id),
    FOREIGN KEY (sale_id) REFERENCES sale_dim (sale_id),
    FOREIGN KEY (brand_id) REFERENCES brand_dim (brand_id),
    FOREIGN KEY (service_code) REFERENCES service_dim (service_code)
    
);

DROP TABLE IF EXISTS customer_dim;
CREATE TABLE customer_dim (
    cust_id INTEGER PRIMARY KEY, -- pk provided by src
    city TEXT,                   -- city name (may be null)
    zip TEXT                     -- zipcode / postal region code (may be null)
) WITHOUT ROWID;

DROP TABLE IF EXISTS brand_dim;
CREATE TABLE brand_dim (
    brand_id INTEGER PRIMARY KEY, -- surrogate pk
    label TEXT NOT NULL           -- maker / manufacturer / designer
);

DROP TABLE IF EXISTS sale_dim;
CREATE TABLE sale_dim (
    sale_id INTEGER PRIMARY KEY, -- surrogate pk
    date TEXT NOT NULL,          -- date of sale as YY-MM-DD text string
    amount REAL NOT NULL         -- sale amount in USD
) WITHOUT ROWID;

DROP TABLE IF EXISTS service_dim;
CREATE TABLE service_dim (
    service_code INTEGER PRIMARY KEY,   -- PK provided by conforming dimension source
    description TEXT NOT NULL           -- human readable TEXT (English)
) WITHOUT ROWID;

Running query in 'sqlite:///hw3.db'

++
||
++
++

### Populating the New DW Tables via SQL Transformations

**Whenever possible, we try to load the dimension tables first, starting with any conformed dimensions before the slow moving dimensions. Why? Because they represent the strongest entities.**

In [6]:
%%sql
INSERT INTO service_dim (service_code, description) 
    SELECT `Service Code`, `Description`
    FROM service_types_import;
SELECT * FROM service_dim LIMIT 10;

Running query in 'sqlite:///hw3.db'

32 rows affected.

+--------------+----------------------------+
| service_code |        description         |
+--------------+----------------------------+
|      1       |           blouse           |
|      7       |        tuxedo pants        |
|      17      |     shirt dry cleaned      |
|      30      |   suit dry cleaned $500    |
|      39      |   suit dry cleaned $750    |
|      50      |   suit dry cleaned $1000   |
|      60      |  suit dry cleaned $1000+   |
|     107      |       surgical pants       |
|     122      | accessory - dry clean only |
|     501      |      shirt on hanger       |
+--------------+----------------------------+

In [7]:
%%sql 
INSERT INTO customer_dim (cust_id, city, zip)
    SELECT DISTINCT CUST_ID, CUST_CITY, CUST_ZIP
    FROM garment_tags_import;
SELECT * FROM customer_dim LIMIT 10;

Running query in 'sqlite:///hw3.db'

2587 rows affected.

+---------+------------+-------+
| cust_id |    city    |  zip  |
+---------+------------+-------+
|    12   |  Westport  | 06880 |
|    49   |  Stamford  | 06902 |
|    73   |   Darien   | 06820 |
|    88   |   Darien   | 06820 |
|   119   | New Canaan | 06840 |
|   139   |   Darien   | 06820 |
|   168   |   Darien   | 06820 |
|   191   |   Darien   | 06820 |
|   225   |   Darien   | 06820 |
|   236   |   Darien   | 06820 |
+---------+------------+-------+

In [8]:
%%sql
INSERT INTO sale_dim (sale_id, date,amount)
    SELECT DISTINCT SALE_ID, SALE_DATE, SALE_AMOUNT
    FROM garment_tags_import;
SELECT * FROM sale_dim LIMIT 10;

Running query in 'sqlite:///hw3.db'

69673 rows affected.

+---------+------------+--------+
| sale_id |    date    | amount |
+---------+------------+--------+
|    43   | 2007-12-29 |  10.5  |
|    49   | 2007-12-29 |  6.3   |
|    53   | 2007-12-29 |  8.4   |
|    55   | 2007-12-29 |  4.2   |
|    68   | 2007-12-29 |  6.3   |
|    97   | 2007-12-29 |  10.5  |
|   119   | 2007-12-29 |  4.2   |
|   145   | 2007-12-29 |  4.2   |
|   163   | 2007-12-29 |  8.4   |
|   170   | 2007-12-29 |  9.2   |
+---------+------------+--------+

In [9]:
%%sql
INSERT INTO brand_dim (label)
    SELECT DISTINCT Garm_Brand
    FROM garment_tags_import
    WHERE Garm_Brand IS NOT NULL;
SELECT * FROM brand_dim LIMIT 10;

Running query in 'sqlite:///hw3.db'

3259 rows affected.

+----------+--------------------+
| brand_id |       label        |
+----------+--------------------+
|    1     |    RALPH LAUREN    |
|    2     |  CHARLES-TYRWHITT  |
|    3     |        POLO        |
|    4     | DARIEN SPORTS SHOP |
|    5     |  BROOKS BROTHERS   |
|    6     |     LANDS' END     |
|    7     |        ENRO        |
|    8     |      OVERTON       |
|    9     |       KIRAN        |
|    10    |      LL BEAN       |
+----------+--------------------+

**Once we have the dimensions worked out we can load the fact table. In the code below we had to use a `LEFT JOIN` to match up the brands with the labels as specified in the `brand_dim` table. Why a `LEFT JOIN`? Because not every garment had a label.**

In [10]:
%%sql 
INSERT INTO garment_facts (cust_id, sale_id, brand_id, service_code, item_count, garm_id_src)
    SELECT Cust_ID as cust_id,
           Sale_ID as sale_id,
           brand_id,
           Garm_Type_ID as service_code,
           Garm_Count as item_count,
           Garm_ID as garm_id_src
    FROM garment_tags_import
            LEFT JOIN brand_dim ON (garment_tags_import.Garm_Brand = brand_dim.label);

Running query in 'sqlite:///hw3.db'

90608 rows affected.

++
||
++
++

### Validating that everything worked

In [11]:
%%sql
-- garment_facts should have the same number of rows as garment_tags_import
SELECT 
    (SELECT count(*) FROM garment_facts) as fact_count,
    (SELECT count(*) FROM garment_tags_import) as tag_count

Running query in 'sqlite:///hw3.db'

+------------+-----------+
| fact_count | tag_count |
+------------+-----------+
|   90608    |   90608   |
+------------+-----------+

## **Part 2. Ask the Data Warehouse to tell us about company and its customers.**

> **Note: these queries will take a while to run. SQLite is not particularly quick.**

### A few moderately-easy warmup questions

**How many sales were made in each town?**

In [12]:
%%sql
SELECT city, COUNT(DISTINCT garment_facts.sale_id)
FROM garment_facts
    JOIN sale_dim
    JOIN customer_dim
GROUP BY city

Running query in 'sqlite:///hw3.db'

OSError: [Errno 28] No space left on device: '/Users/christopherhuntley/.ploomber/stats/tmp_YGYA5NG8BD.txt'

**Which city had the highest total sales in 2012?**

In [ ]:
%%sql
SELECT city, SUM(sale_dim.amount)
FROM garment_facts
    LEFT JOIN sale_dim
    LEFT JOIN customer_dim
GROUP BY city

**Which 10 brands were the most commonly cleaned?**

In [ ]:
%%sql

**How many 'RALPH LAUREN' garments were cleaned in each year?**

In [ ]:
%%sql

**How popular was `RALPH LAUREN` in each town in 2012?**

In [ ]:
%%sql

### Now some harder ones